body
{
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover
{
    width: 100%;
}
.logo
{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 10%;
    background-color: rgb(249, 249, 249);
    border-radius: 50%;
    border: 13px solid rgb(249, 249, 249);
    z-index: 1000;
}
/* body div */
.body {
    background-color: rgb(181, 154, 213);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    padding-bottom: 10%;
    top: 18%; /* تعديل الموضع ليتناسب مع التصميم */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* إضافة ظل لتحسين الشكل */
    overflow: hidden; /* للتأكد من عدم ظهور أي عناصر زائدة */
}

/* name and jobtitle div */
.name-and-jobtitle{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin-top: 20%;
}
.name-and-jobtitle h1{
    font-family: "Dancing Script", serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}
.name-and-jobtitle p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(163, 223, 231);
    margin-top: 5px;
    font-family: "Marcellus", serif;
}
/* social-media */
.social-media
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
}
.social-media a{
    width: 11%;
}
.social-media img{
    width: 100%;
}
/* informations */ 
.informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    font-family: "Roboto", serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/* our-servercies */
.our-servercies{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.our-servercies a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    background-color: rgb(163, 223, 231);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
    padding: 20px;
    font-size: 22px;
    width: 250px;
    text-align: center;
    margin-bottom: 8%;
    font-family: "Dancing Script", serif;
}
/* Footer */
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
footer p
{
    text-align: center;
    font-family: "Marcellus", serif;
    margin-bottom: 0%;
    color: rgb(249, 249, 249);
    
}
footer a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
    align-items: baseline;
    font-weight: 500;
}
footer a img{
    text-decoration: none;
    width: 3%;
}
.tarekbenjehad{
    width: 40px;
}